<a href="https://colab.research.google.com/github/LoveyThePigeon/Data-Mining/blob/main/HW2_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import pandas as pd

# create a dataframe

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 17, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Alexandria'],
    'Salary': [100, 150, 200, 300]
}

df = pd.DataFrame(data)
df

      Name  Age           City  Salary
0    Alice   25       New York     100
1      Bob   30  San Francisco     150
2  Charlie   17    Los Angeles     200
3    David   28     Alexandria     300

In [76]:
df['Name']
df[['Name','Salary']]

      Name  Salary
0    Alice     100
1      Bob     150
2  Charlie     200
3    David     300

In [77]:
df.iloc[0]
df.iloc[2]

Name          Charlie
Age                17
City      Los Angeles
Salary            200
Name: 2, dtype: object

In [78]:
# calculate some statistics on each column

df['Age'].mean()

np.float64(25.0)

In [79]:
# calculate some statistics on each column

print("The minimum salary is", df['Salary'].min())
print("The maximum salary is", df['Salary'].max())
print("The mean salary is", df['Salary'].mean())

The minimum salary is 100
The maximum salary is 300
The mean salary is 187.5

In [80]:
# calculate some statistics on each column

print("The minimum age is", df['Age'].min())
print("The maximum age is", df['Age'].max())
print("The mean age is", df['Age'].mean())

The minimum age is 17
The maximum age is 30
The mean age is 25.0

In [81]:
ndata = [10, 20, 30, 40, 50]
s = pd.Series(ndata)

print(s)
print(s.min())
print(s.max())
print(s.mean())

0    10
1    20
2    30
3    40
4    50
dtype: int64
10
50
30.0

In [82]:
df

      Name  Age           City  Salary
0    Alice   25       New York     100
1      Bob   30  San Francisco     150
2  Charlie   17    Los Angeles     200
3    David   28     Alexandria     300

In [83]:
# displays n elements from the beginning

df.head(2)

    Name  Age           City  Salary
0  Alice   25       New York     100
1    Bob   30  San Francisco     150

In [84]:
# displays n elements from the end

df.tail(1)

    Name  Age        City  Salary
3  David   28  Alexandria     300

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
 3   Salary  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [86]:
df.describe()

             Age      Salary
count   4.000000    4.000000
mean   25.000000  187.500000
std     5.715476   85.391256
min    17.000000  100.000000
25%    23.000000  137.500000
50%    26.500000  175.000000
75%    28.500000  225.000000
max    30.000000  300.000000

In [87]:
df.describe().T

        count   mean        std    min    25%    50%    75%    max
Age       4.0   25.0   5.715476   17.0   23.0   26.5   28.5   30.0
Salary    4.0  187.5  85.391256  100.0  137.5  175.0  225.0  300.0

In [88]:
merged_df = pd.merge(df, df, on = 'Name')
merged_df

      Name  Age_x         City_x  Salary_x  Age_y         City_y  Salary_y
0    Alice     25       New York       100     25       New York       100
1      Bob     30  San Francisco       150     30  San Francisco       150
2  Charlie     17    Los Angeles       200     17    Los Angeles       200
3    David     28     Alexandria       300     28     Alexandria       300

In [89]:
# Apply a function on a column

df['New Salary'] = df['Salary'].apply(lambda x: x * 1.2)
df

      Name  Age           City  Salary  New Salary
0    Alice   25       New York     100       120.0
1      Bob   30  San Francisco     150       180.0
2  Charlie   17    Los Angeles     200       240.0
3    David   28     Alexandria     300       360.0

In [90]:
# sorting the data based on a column

sorted_df = df.sort_values(by = 'Age' )
sorted_df

      Name  Age           City  Salary  New Salary
2  Charlie   17    Los Angeles     200       240.0
0    Alice   25       New York     100       120.0
3    David   28     Alexandria     300       360.0
1      Bob   30  San Francisco     150       180.0

In [91]:
# create a new column based on certain condition

df['is_adult'] = df['Age'].apply(lambda x: True if x>=18 else False)
df

      Name  Age           City  Salary  New Salary  is_adult
0    Alice   25       New York     100       120.0      True
1      Bob   30  San Francisco     150       180.0      True
2  Charlie   17    Los Angeles     200       240.0     False
3    David   28     Alexandria     300       360.0      True

In [92]:
df1 = pd.read_csv('diabetes.csv')

print(df1.head(10))
print(df1.tail(3))

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1
5            5      116             74              0        0  25.6
6            3       78             50             32       88  31.0
7           10      115              0              0        0  35.3
8            2      197             70             45      543  30.5
9            8      125             96              0        0   0.0

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
5                     0.201   30        0
6                     0.248   26        1
7                     0.134   29        0
8                     0.158   53        1
9                     0.232   54        1
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

In [93]:
print(df1.describe())
print(df1.info())
df1

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [94]:
df1['Pregnancies'].unique()

array([ 6,  1,  8,  0,  5,  3, 10,  2,  4,  7,  9, 11, 13, 15, 17, 12, 14])

In [95]:
df1['Outcome'].unique()

array([1, 0])

In [96]:
# develop correlation matrix

correlation_matrix = df1.corr()
correlation_matrix

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [97]:
df1 = df1.rename(columns = {'DiabetesPedigreeFunction' : 'DPF'})
df1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1